<div class="w-screen pl-2 pr-4 pb-3 bg-slate-400 flex flex-col md:flex-row gap-2 justify-between md:gap-6" style="align-items:center;position:sticky">
    <div class="pl-2">
        <h1 class="text-2xl font-bold text-black">YelpCamp!</h1>
    </div>
    <div class="">
        <ul class="flex gap-2 text-slate-700 text-lg font-semibold flex-col md:flex-row md:gap-5 justify-center">
            <li class="hover:text-black"><a href="#">Campgrounds</a></li>
            <li class="hover:text-black"><a href="">New Campground</a></li>
        </ul>
    </div>
  
</div>